<%- include("../shared/header") %>
<%- include("../shared/shopStart") %>
    <div class="col-lg-7 col-md-12">
        <div class="text-center py-2 photo-header-background">
            <img class="img-fluid" src="../images/BakingPlanksImages/BakingPlanks_Header.png" alt="Baking Planks Header">
        </div>
        <div class="px-4 py-3 paper-background">
            <div class="shop-summary">
                <p>
                    Cedar and Alder planks impart a subtle yet full flavored aroma to anything roasted on
                    them. Our planks are made from clear kiln dried Western Red Cedar and Alder. Cedar
                    roasting planks come in two sizes. Alder planks are available in one size only.
                </p>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Small Cedar Plank</p>
                </div>
                <div class="row white-text">
                    <div class="col-8">
                        <p>
                            The Small Cedar Plank is primarily used to prepare servings for one or two
                            people (13"x9"x1.5").
                        </p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="m-0">
                            Price: $32.00
                        </p>
                        <form action="/shop/add-bakingplanks" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Small Cedar Plank">
                            <input type="hidden" name="price" value=32.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/BakingPlanksImages/SmallCedarPlank.png" alt="Small Cedar Plank">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Large Cedar Plank</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            The Large Cedar Plank is primarily used in cooking meals for two or more
                            people (16"x9"x1.5").
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $38.00
                        </p>
                        <form action="/shop/add-bakingplanks" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Large Cedar Plank">
                            <input type="hidden" name="price" value=38.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/BakingPlanksImages/LargeCedarPlank.png" alt="Large Cedar Plank">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Alder Plank</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            The Alder Planks are milder than the cedar planks, and impart a subtle woodsy
                            flavor and aroma to anything roasted on them. Our alder planks are made from
                            clear kiln dried alder. They come in one size only 16"x7"x1.5".
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $42.00
                        </p>
                        <form action="/shop/add-bakingplanks" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Alder Plank">
                            <input type="hidden" name="price" value=42.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/BakingPlanksImages/LargeAlderPlank.png" alt="Large Alder Plank">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../shared/shopEnd") %>
<%- include("../shared/footer") %>