<%- include("../shared/header") %>
<%- include("../shared/shopStart") %>
    <div class="col-lg-7 col-md-12">
        <div class="text-center py-2 photo-header-background">
            <img class="img-fluid" src="../images/CookbooksImages/Cookbooks_Header.png" alt="Cookbooks Header">
        </div>
        <div class="px-4 py-3 paper-background">
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Passion & Palate</p>
                </div>
                <div class="row white-text">
                    <div class="col-8">
                        <p>
                            Chef Howie’s New Cookbook Passion & Palate is a collection of stories and
                            recipes from Chef John Howie. The chef/proprietor who brought you the Award
                            winning restaurants, Seastar Restaurant & Raw Bar, John Howie Steak, SPORT
                            Restaurant & Bar, Adriatic Grill, Italian Cuisine & Wine Bar, and the culinary
                            website plankcooking.com, now shares his creative culinary exploits with you.
                            Passion & Palate will excite the senses with over 240 recipes, and 88 full
                            color pictures. The recipe range is very eclectic with everything from some of
                            Chef Howie’s best plank cooking recipes, to amazing soups, salads, seafood,
                            meats, pastas, poultry, ceviche’s, poke, and sushi. All recipes were tested
                            by home cooks. So you can be assured that these recipes will work in your home
                            kitchen. Passion & Palate is the culmination of Chef Howie’s dream to bring
                            exciting cuisine to the homes of his restaurant guests and fan of good food
                            everywhere.
                        </p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="m-0">
                            Price: $42.00
                        </p>
                        <form action="/shop/add-cookbooks" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Passion & Palate">
                            <input type="hidden" name="price" value=42.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/CookbooksImages/passion_palate_cover.png" alt="Passion Palate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">The Plank Cookbook</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            This is Chef Howie’s second cookbook with fifteen new recipes for your cedar,
                            alder and BBQ grilling planks. Although each of the recipes in this cookbook
                            were designed to be used with specific planks, they are not exclusive to the
                            planks they were created for and can be used with either the cedar, alder or
                            BBQ grilling planks. Includes recipes for lemon-garlic prawns, hazelnut salmon,
                            lamb chops pepperonata, pork tenderloin with mango salsa, caramelized onion
                            halibut and plank roasted turkey breast with cranberry compote, just to name
                            a few.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $6.50
                        </p>
                        <form action="/shop/add-cookbooks" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="The Plank Cookbook">
                            <input type="hidden" name="price" value=6.50>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/CookbooksImages/PlankCookbook.png" alt="PlankCookbook">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../shared/shopEnd") %>
<%- include("../shared/footer") %>