<%- include("../shared/header") %>
<%- include("../shared/shopStart") %>
    <div class="col-lg-7 col-md-12">
        <div class="text-center py-2 photo-header-background">
            <img class="img-fluid" src="../images/CookbooksImages/Cookbooks_Header.png" alt="Cookbooks Header">
        </div>
        <div class="px-4 py-3 paper-background">
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Nut Driver</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            The nut driver is used to tighten the metal bolts that run through the baking
                            planks. The bolts are there to help keep the plank from splitting and warping.
                            Used with baking planks only, no bolts on the BBQ planks.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $3.00
                        </p>
                        <form action="/shop/add-nutdriver" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Nut Driver">
                            <input type="hidden" name="price" value=3.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/NutDriverImages/NutDriver.png" alt="Nut Driver">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../shared/shopEnd") %>
<%- include("../shared/footer") %>