<%- include("../shared/header") %>
<%- include("../shared/shopStart") %>
    <div class="col-lg-7 col-md-12">
        <div class="text-center py-2 photo-header-background">
            <img class="img-fluid" src="../images/SpiceRubsImages/SpiceRubs_Header.png" alt="Spice Rubs Header">
        </div>
        <div class="px-4 py-3 paper-background">
            <div class="shop-summary">
                <p>
                    Chef Howie created 3 Chefs In A Tub spice rubs and seasoning blends to bring professional
                    flavor to home cooking. Very easy to use. Just season cook and serve. Made with all natural
                    ingredients, dried herbs and mushrooms, spices, lemon, garlic, onion, brown sugar and kosher
                    salt, no MSG or other chemical additives.
                </p>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Ancho Chili Rub</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            Just a little spice, the Ancho Chili Rub has a rich-smoky chili flavor, with a
                            very mild heat. Use it on chicken, pork, salmon, prawns, and ribs. The smoked
                            ancho chili adds a smoky richness to the blend while the chipotle chili adds
                            just a little zip.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $6.00 NET WT. 3.65 oz's
                        </p>
                        <form action="/shop/add-spicerubs" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Ancho Chili Rub">
                            <input type="hidden" name="price" value=6.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/SpiceRubsImages/AnchoChiliRub.png" alt="Ancho Chili">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Salmon Rub</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            Chef Howie’s Original Signature Salmon Rub works great with the cedar, alder or
                            BBQ planks. Imparts a subtle aromatic flavor to rich salmon. Made from dried
                            herbs, fresh ground spices, brown sugar, kosher salt, garlic and lemon. Also
                            great for searing, grilling and baking.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $6.00 NET WT. 3.65 oz's
                        </p>
                        <form action="/shop/add-spicerubs" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Salmon Rub">
                            <input type="hidden" name="price" value=6.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/SpiceRubsImages/SalmonRub.png" alt="Salmon Rub">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Porcini Mushroom Rub</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            Chef Howie’s Porcini Mushroom Rub adds a rich mushroom flavor with a subtle
                            hint of herb. Great with poultry, fish, seafood, pork and beef. Made from
                            imported Italian porcini mushrooms, herbs, kosher salt, spices, and a hint of
                            lemon.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $12.50 NET WT. 2.0 oz's
                        </p>
                        <form action="/shop/add-spicerubs" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Porcini Mushroom Rub">
                            <input type="hidden" name="price" value=12.50>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/SpiceRubsImages/MushroomSpice.png" alt="Mushroom Spice">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">BBQ Spice Rub</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            Although Chef Howie’s BBQ Spice Rub is an aromatic blend of unique spices,
                            star anise, ginger, allspice and more. Originally created for his Baby Back
                            Ribs, we’ve since discovered that it works great for chicken, pork chops, ribs
                            and roasts as well. Made from a unique blend of aromatic spices, brown sugar,
                            kosher salt, onion and garlic.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $6.00 NET WT. 3.65 oz's
                        </p>
                        <form action="/shop/add-spicerubs" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="BBQ Spice Rub">
                            <input type="hidden" name="price" value=6.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/SpiceRubsImages/BBQSpiceRub.png" alt="BBQ Spice Rub">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">SPORT Steak Seasoning Rub</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            The perfect seasoning for great steaks. A nice blend of dried herbs, onion,
                            garlic, spices and kosher salt. Created by Chef Howie’s youngest son as a gift
                            for his teachers, it was so loved that Chef Howie decided to use it at SPORT.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $5.00 NET WT. 3.0 oz's
                        </p>
                        <form action="/shop/add-spicerubs" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="SPORT Steak Seasoning Rub">
                            <input type="hidden" name="price" value=5.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/SpiceRubsImages/SportSteakRub.png" alt="Sport Steak Rub">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-item">
                <div class="section-label mb-4">
                    <p class="item-title">Gift Pack for All Four Rubs</p>
                </div>
                <div class="row white-text">
                    <div class="col-7">
                        <p>
                            All four the 3 Chef’s in a Tub, Spice Rubs and Seasoning Blends. The Ancho
                            Chili Rub, Salmon Rub, Mushroom Rub, and the BBQ Spice Rub.
                        </p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="m-0">
                            Price: $26.00
                        </p>
                        <form action="/shop/add-spicerubs" method="POST">
                            <div class="">
                                <label class="" for="quantity">Quantity:</label>
                                <input class="w-25" type="number" id="quantity" name="quantity" value="1" min="1">
                            </div>
                            <input type="hidden" name="productName" value="Gift Pack for All Four Rubs">
                            <input type="hidden" name="price" value=26.00>
                            <input type="hidden" name="_csrf" value="<%= token %>" />
                            <input type="image" value="submit" src="../images/AddToCart_button.png" alt="Submit Button">
                        </form>
                        <div class="item-image mt-3">
                            <img src="../images/SpiceRubsImages/FourSpicesPack.png" alt="Spice Pack">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../shared/shopEnd") %>
<%- include("../shared/footer") %>