<%- include("../shared/header") %>
<div class="d-flex justify-content-between p-2 m-2 align-items-center cart-header">
    <h5 class="my-2">Enter Billing & Shipping Information > Step 2 of 4</h5>
</div>
<% if(errors.length > 0) { %> 
    <div class="alert alert-danger">
        <h2>Please resolve the following errors:</h2>
        <ul>
            <% for(let ctr = 0; ctr < errors.length; ctr++) { %>
                <li><%= errors[ctr].msg %> </li>
            <% } %> 
        </ul>
    </div>
<% } %>

<div class="p-2 m-2 cart-body">
    <form action="/cart/add-address" method="POST">
        <div class="table-design mb-4">
            <div class="row w-100 m-0">
                <div class="address-info col-lg-6 col-md-12 p-0">
                    <div class="d-flex address-header mb-3 pl-2 pt-2">
                        <p class="font-weight-bold">Billing Address</p>
                    </div>
                    <label for="billingFirstName">First Name: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingFirstName" name="billingFirstName" value="<%= billingFirstName %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingFirstName" name="billingFirstName">
                    <% } %> 
                    <br>
                    <label for="billingLastName">Last Name: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingLastName" name="billingLastName" value="<%= billingLastName %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingLastName" name="billingLastName">
                    <% } %> 
                    <br>
                    <label for="billingAddress">Address: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingAddress" name="billingAddress" value="<%= billingAddress %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingAddress" name="billingAddress">
                    <% } %> 
                    <br>
                    <label for="billingAddressTwo">Address 2: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingAddressTwo" name="billingAddressTwo" value="<%= billingAddressTwo %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingAddressTwo" name="billingAddressTwo">
                    <% } %> 
                    <br>
                    <label for="billingCity">City: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingCity" name="billingCity" value="<%= billingCity %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingCity" name="billingCity">
                    <% } %>
                    <br>
                    <label for="billingState">State: </label>
                    <select class="w-75 py-1" id="billingState" name="billingState">
                        <option <%= errors.length > 0 && billingState == 'AL' ? 'selected' : '' %> value="AL">Alabama</option>
                        <option <%= errors.length > 0 && billingState == 'AK' ? 'selected' : '' %> value="AK">Alaska</option>
                        <option <%= errors.length > 0 && billingState == 'AZ' ? 'selected' : '' %> value="AZ">Arizona</option>
                        <option <%= errors.length > 0 && billingState == 'AR' ? 'selected' : '' %> value="AR">Arkansas</option>
                        <option <%= errors.length > 0 && billingState == 'CA' ? 'selected' : '' %> value="CA">California</option>
                        <option <%= errors.length > 0 && billingState == 'CO' ? 'selected' : '' %> value="CO">Colorado</option>
                        <option <%= errors.length > 0 && billingState == 'CT' ? 'selected' : '' %> value="CT">Connecticut</option>
                        <option <%= errors.length > 0 && billingState == 'DE' ? 'selected' : '' %> value="DE">Delaware</option>
                        <option <%= errors.length > 0 && billingState == 'DC' ? 'selected' : '' %> value="DC">District Of Columbia</option>
                        <option <%= errors.length > 0 && billingState == 'FL' ? 'selected' : '' %> value="FL">Florida</option>
                        <option <%= errors.length > 0 && billingState == 'GA' ? 'selected' : '' %> value="GA">Georgia</option>
                        <option <%= errors.length > 0 && billingState == 'HI' ? 'selected' : '' %> value="HI">Hawaii</option>
                        <option <%= errors.length > 0 && billingState == 'ID' ? 'selected' : '' %> value="ID">Idaho</option>
                        <option <%= errors.length > 0 && billingState == 'IL' ? 'selected' : '' %> value="IL">Illinois</option>
                        <option <%= errors.length > 0 && billingState == 'IN' ? 'selected' : '' %> value="IN">Indiana</option>
                        <option <%= errors.length > 0 && billingState == 'IA' ? 'selected' : '' %> value="IA">Iowa</option>
                        <option <%= errors.length > 0 && billingState == 'KS' ? 'selected' : '' %> value="KS">Kansas</option>
                        <option <%= errors.length > 0 && billingState == 'KY' ? 'selected' : '' %> value="KY">Kentucky</option>
                        <option <%= errors.length > 0 && billingState == 'LA' ? 'selected' : '' %> value="LA">Louisiana</option>
                        <option <%= errors.length > 0 && billingState == 'ME' ? 'selected' : '' %> value="ME">Maine</option>
                        <option <%= errors.length > 0 && billingState == 'MD' ? 'selected' : '' %> value="MD">Maryland</option>
                        <option <%= errors.length > 0 && billingState == 'MA' ? 'selected' : '' %> value="MA">Massachusetts</option>
                        <option <%= errors.length > 0 && billingState == 'MI' ? 'selected' : '' %> value="MI">Michigan</option>
                        <option <%= errors.length > 0 && billingState == 'MN' ? 'selected' : '' %> value="MN">Minnesota</option>
                        <option <%= errors.length > 0 && billingState == 'MS' ? 'selected' : '' %> value="MS">Mississippi</option>
                        <option <%= errors.length > 0 && billingState == 'MO' ? 'selected' : '' %> value="MO">Missouri</option>
                        <option <%= errors.length > 0 && billingState == 'MT' ? 'selected' : '' %> value="MT">Montana</option>
                        <option <%= errors.length > 0 && billingState == 'NE' ? 'selected' : '' %> value="NE">Nebraska</option>
                        <option <%= errors.length > 0 && billingState == 'NV' ? 'selected' : '' %> value="NV">Nevada</option>
                        <option <%= errors.length > 0 && billingState == 'NH' ? 'selected' : '' %> value="NH">New Hampshire</option>
                        <option <%= errors.length > 0 && billingState == 'NJ' ? 'selected' : '' %> value="NJ">New Jersey</option>
                        <option <%= errors.length > 0 && billingState == 'NM' ? 'selected' : '' %> value="NM">New Mexico</option>
                        <option <%= errors.length > 0 && billingState == 'NY' ? 'selected' : '' %> value="NY">New York</option>
                        <option <%= errors.length > 0 && billingState == 'NC' ? 'selected' : '' %> value="NC">North Carolina</option>
                        <option <%= errors.length > 0 && billingState == 'ND' ? 'selected' : '' %> value="ND">North Dakota</option>
                        <option <%= errors.length > 0 && billingState == 'OH' ? 'selected' : '' %> value="OH">Ohio</option>
                        <option <%= errors.length > 0 && billingState == 'OK' ? 'selected' : '' %> value="OK">Oklahoma</option>
                        <option <%= errors.length > 0 && billingState == 'OR' ? 'selected' : '' %> value="OR">Oregon</option>
                        <option <%= errors.length > 0 && billingState == 'PA' ? 'selected' : '' %> value="PA">Pennsylvania</option>
                        <option <%= errors.length > 0 && billingState == 'RI' ? 'selected' : '' %> value="RI">Rhode Island</option>
                        <option <%= errors.length > 0 && billingState == 'SC' ? 'selected' : '' %> value="SC">South Carolina</option>
                        <option <%= errors.length > 0 && billingState == 'SD' ? 'selected' : '' %> value="SD">South Dakota</option>
                        <option <%= errors.length > 0 && billingState == 'TN' ? 'selected' : '' %> value="TN">Tennessee</option>
                        <option <%= errors.length > 0 && billingState == 'TX' ? 'selected' : '' %> value="TX">Texas</option>
                        <option <%= errors.length > 0 && billingState == 'UT' ? 'selected' : '' %> value="UT">Utah</option>
                        <option <%= errors.length > 0 && billingState == 'VT' ? 'selected' : '' %> value="VT">Vermont</option>
                        <option <%= errors.length > 0 && billingState == 'VA' ? 'selected' : '' %> value="VA">Virginia</option>
                        <option <%= errors.length > 0 && billingState == 'WA' ? 'selected' : '' %> value="WA">Washington</option>
                        <option <%= errors.length > 0 && billingState == 'WV' ? 'selected' : '' %> value="WV">West Virginia</option>
                        <option <%= errors.length > 0 && billingState == 'WI' ? 'selected' : '' %> value="WI">Wisconsin</option>
                        <option <%= errors.length > 0 && billingState == 'WY' ? 'selected' : '' %> value="WY">Wyoming</option>
                    </select>
                    <br>
                    <label for="billingZip">Zip / Postal: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingZip" name="billingZip" value="<%= billingZip %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingZip" name="billingZip">
                    <% } %>
                    <br>
                    <label for="billingPhone">Phone: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingPhone" name="billingPhone" value="<%= billingPhone %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingPhone" name="billingPhone">
                    <% } %>
                    <br>
                    <label for="billingEmail">Email: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="billingEmail" name="billingEmail" value="<%= billingEmail %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="billingEmail" name="billingEmail">
                    <% } %>
                </div>
                <div class="address-info col-lg-6 col-md-12 p-0">
                    <div class="d-flex address-header mb-3 pl-2 pt-2">
                        <p class="font-weight-bold">Shipping Address</p>
                        <div class="w-75 pl-4">
                            <input class="" type="checkbox" id="sameAsBilling" name="sameAsBilling" value="true">
                            <label class="d-inline-block w-75 text-left" for="sameAsBilling">Same as Billing Address</label>
                        </div>
                    </div>
                    <label for="shippingFirstName">First Name: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingFirstName" name="shippingFirstName" value="<%= shippingFirstName %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingFirstName" name="shippingFirstName">
                    <% } %> 
                    <br>
                    <label for="shippingLastName">Last Name: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingLastName" name="shippingLastName" value="<%= shippingLastName %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingLastName" name="shippingLastName">
                    <% } %>
                    <br>
                    <label for="shippingAddress">Address: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingAddress" name="shippingAddress" value="<%= shippingAddress %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingAddress" name="shippingAddress">
                    <% } %>
                    <br>
                    <label for="shippingAddressTwo">Address 2: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingAddressTwo" name="shippingAddressTwo" value="<%= shippingAddressTwo %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingAddressTwo" name="shippingAddressTwo">
                    <% } %> 
                    <br>
                    <label for="shippingCity">City: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingCity" name="shippingCity" value="<%= shippingCity %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingCity" name="shippingCity">
                    <% } %> 
                    <br>
                    <label for="shippingState">State: </label>
                    <select class="w-75 py-1" id="shippingState" name="shippingState">
                        <option <%= errors.length > 0 && shippingState == 'AL' ? 'selected' : '' %> value="AL">Alabama</option>
                        <option <%= errors.length > 0 && shippingState == 'AK' ? 'selected' : '' %> value="AK">Alaska</option>
                        <option <%= errors.length > 0 && shippingState == 'AZ' ? 'selected' : '' %> value="AZ">Arizona</option>
                        <option <%= errors.length > 0 && shippingState == 'AR' ? 'selected' : '' %> value="AR">Arkansas</option>
                        <option <%= errors.length > 0 && shippingState == 'CA' ? 'selected' : '' %> value="CA">California</option>
                        <option <%= errors.length > 0 && shippingState == 'CO' ? 'selected' : '' %> value="CO">Colorado</option>
                        <option <%= errors.length > 0 && shippingState == 'CT' ? 'selected' : '' %> value="CT">Connecticut</option>
                        <option <%= errors.length > 0 && shippingState == 'DE' ? 'selected' : '' %> value="DE">Delaware</option>
                        <option <%= errors.length > 0 && shippingState == 'DC' ? 'selected' : '' %> value="DC">District Of Columbia</option>
                        <option <%= errors.length > 0 && shippingState == 'FL' ? 'selected' : '' %> value="FL">Florida</option>
                        <option <%= errors.length > 0 && shippingState == 'GA' ? 'selected' : '' %> value="GA">Georgia</option>
                        <option <%= errors.length > 0 && shippingState == 'HI' ? 'selected' : '' %> value="HI">Hawaii</option>
                        <option <%= errors.length > 0 && shippingState == 'ID' ? 'selected' : '' %> value="ID">Idaho</option>
                        <option <%= errors.length > 0 && shippingState == 'IL' ? 'selected' : '' %> value="IL">Illinois</option>
                        <option <%= errors.length > 0 && shippingState == 'IN' ? 'selected' : '' %> value="IN">Indiana</option>
                        <option <%= errors.length > 0 && shippingState == 'IA' ? 'selected' : '' %> value="IA">Iowa</option>
                        <option <%= errors.length > 0 && shippingState == 'KS' ? 'selected' : '' %> value="KS">Kansas</option>
                        <option <%= errors.length > 0 && shippingState == 'KY' ? 'selected' : '' %> value="KY">Kentucky</option>
                        <option <%= errors.length > 0 && shippingState == 'LA' ? 'selected' : '' %> value="LA">Louisiana</option>
                        <option <%= errors.length > 0 && shippingState == 'ME' ? 'selected' : '' %> value="ME">Maine</option>
                        <option <%= errors.length > 0 && shippingState == 'MD' ? 'selected' : '' %> value="MD">Maryland</option>
                        <option <%= errors.length > 0 && shippingState == 'MA' ? 'selected' : '' %> value="MA">Massachusetts</option>
                        <option <%= errors.length > 0 && shippingState == 'MI' ? 'selected' : '' %> value="MI">Michigan</option>
                        <option <%= errors.length > 0 && shippingState == 'MN' ? 'selected' : '' %> value="MN">Minnesota</option>
                        <option <%= errors.length > 0 && shippingState == 'MS' ? 'selected' : '' %> value="MS">Mississippi</option>
                        <option <%= errors.length > 0 && shippingState == 'MO' ? 'selected' : '' %> value="MO">Missouri</option>
                        <option <%= errors.length > 0 && shippingState == 'MT' ? 'selected' : '' %> value="MT">Montana</option>
                        <option <%= errors.length > 0 && shippingState == 'NE' ? 'selected' : '' %> value="NE">Nebraska</option>
                        <option <%= errors.length > 0 && shippingState == 'NV' ? 'selected' : '' %> value="NV">Nevada</option>
                        <option <%= errors.length > 0 && shippingState == 'NH' ? 'selected' : '' %> value="NH">New Hampshire</option>
                        <option <%= errors.length > 0 && shippingState == 'NJ' ? 'selected' : '' %> value="NJ">New Jersey</option>
                        <option <%= errors.length > 0 && shippingState == 'NM' ? 'selected' : '' %> value="NM">New Mexico</option>
                        <option <%= errors.length > 0 && shippingState == 'NY' ? 'selected' : '' %> value="NY">New York</option>
                        <option <%= errors.length > 0 && shippingState == 'NC' ? 'selected' : '' %> value="NC">North Carolina</option>
                        <option <%= errors.length > 0 && shippingState == 'ND' ? 'selected' : '' %> value="ND">North Dakota</option>
                        <option <%= errors.length > 0 && shippingState == 'OH' ? 'selected' : '' %> value="OH">Ohio</option>
                        <option <%= errors.length > 0 && shippingState == 'OK' ? 'selected' : '' %> value="OK">Oklahoma</option>
                        <option <%= errors.length > 0 && shippingState == 'OR' ? 'selected' : '' %> value="OR">Oregon</option>
                        <option <%= errors.length > 0 && shippingState == 'PA' ? 'selected' : '' %> value="PA">Pennsylvania</option>
                        <option <%= errors.length > 0 && shippingState == 'RI' ? 'selected' : '' %> value="RI">Rhode Island</option>
                        <option <%= errors.length > 0 && shippingState == 'SC' ? 'selected' : '' %> value="SC">South Carolina</option>
                        <option <%= errors.length > 0 && shippingState == 'SD' ? 'selected' : '' %> value="SD">South Dakota</option>
                        <option <%= errors.length > 0 && shippingState == 'TN' ? 'selected' : '' %> value="TN">Tennessee</option>
                        <option <%= errors.length > 0 && shippingState == 'TX' ? 'selected' : '' %> value="TX">Texas</option>
                        <option <%= errors.length > 0 && shippingState == 'UT' ? 'selected' : '' %> value="UT">Utah</option>
                        <option <%= errors.length > 0 && shippingState == 'VT' ? 'selected' : '' %> value="VT">Vermont</option>
                        <option <%= errors.length > 0 && shippingState == 'VA' ? 'selected' : '' %> value="VA">Virginia</option>
                        <option <%= errors.length > 0 && shippingState == 'WA' ? 'selected' : '' %> value="WA">Washington</option>
                        <option <%= errors.length > 0 && shippingState == 'WV' ? 'selected' : '' %> value="WV">West Virginia</option>
                        <option <%= errors.length > 0 && shippingState == 'WI' ? 'selected' : '' %> value="WI">Wisconsin</option>
                        <option <%= errors.length > 0 && shippingState == 'WY' ? 'selected' : '' %> value="WY">Wyoming</option>
                    </select>
                    <br>
                    <label for="shippingZip">Zip / Postal: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingZip" name="shippingZip" value="<%= shippingZip %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingZip" name="shippingZip">
                    <% } %>
                    <br>
                    <label for="shippingPhone">Phone: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingPhone" name="shippingPhone" value="<%= shippingPhone %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingPhone" name="shippingPhone">
                    <% } %>
                    <br>
                    <label for="shippingEmail">Email: </label>
                    <% if (errors.length > 0) { %>
                        <input class="w-75" type="text" id="shippingEmail" name="shippingEmail" value="<%= shippingEmail %>">
                    <% } else { %>
                        <input class="w-75" type="text" id="shippingEmail" name="shippingEmail">
                    <% } %>
                </div>
            </div>
        </div>
        <table class="table-design mb-4">
            <tr>
            <th>Shipping to You</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            </tr>
            <% cartItems.forEach(cartItem => {%>
                <tr>
                    <td><%= cartItem.name %></td>
                    <td class="text-center">$<%= cartItem.price.toFixed(2) %></td>
                    <td class="text-center"><%= cartItem.quantity %></td>
                    <td class="text-center">$<%= cartItem.total.toFixed(2) %></td>
                </tr>
            <% }); %> 
            <tr>
            <td colspan="4" class="text-right">Subtotal: $<%= subTotal.toFixed(2) %></td>
            </tr>
        </table>
        <table class="table-design mb-4">
            <tr>
                <th>Comments or Additional Information</th>
            </tr>
            <tr>
                <td>
                    <% if (errors.length > 0) { %>
                        <textarea id="comments" name="comments" rows="5" class="w-50"><%= comments %></textarea>
                    <% } else { %>
                        <textarea id="comments" name="comments" rows="5" class="w-50"></textarea>
                    <% } %> 
                </td>
            </tr>
        </table>
        <table class="table-design mb-4">
            <tr>
                <td class="text-right">
                    <div>
                        <a class="table-submit p-1" href="/cart">BACK</a>
                        <input type="hidden" value="<%= subTotal %>" name="subtotalPayment">
                        <input type="hidden" name="_csrf" value="<%= token %>" />
                        <input class="table-submit" type="submit" value="CHECKOUT">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include("../shared/footer") %>