<%- include("../shared/header") %>
<div class="d-flex justify-content-center p-2 m-2 align-items-center cart-header">
    <h5 class="my-2">Preview Order & Enter Payment Information > Step 3 of 4</h5>
</div>
<% if(errors.length > 0) { %> 
    <div class="alert alert-danger">
        <ul>
            <% for(let ctr = 0; ctr < errors.length; ctr++) { %>
                <li><%= errors[ctr].msg %> </li>
            <% } %> 
        </ul>
    </div>
<% } %>

<div class="p-2 m-2 cart-body">
    <div class="table-design mb-4">
        <div class="row w-100 m-0">
            <div class="address-info col-lg-6 col-md-12 p-0">
                <div class="d-flex address-header mb-3 pl-2 pt-2">
                    <p class="font-weight-bold">Billing Address</p>
                </div>
                <div class="">
                    <div class="row mx-0">
                        <p class="col-2 p-0 mr-3 text-right">Name:</p>
                        <p class="col-6 p-0"><%= billingAddress.firstName %> <%= billingAddress.lastName %></p>
                    </div>
                    <div class="row mx-0">
                        <p class="col-2 p-0 mr-3 text-right">Address:</p>
                        <div class="col-6 p-0">
                            <p class="p-0 mb-0"><%= billingAddress.address %></p>
                            <p class="p-0"><%= billingAddress.city %> <%= billingAddress.state %> <%= billingAddress.zip %></p>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <p class="col-2 p-0 mr-3 text-right">Phone:</p>
                        <p class="col-6 p-0"><%= billingAddress.phone %></p>
                    </div>
                    <div class="row mx-0">
                        <p class="col-2 p-0 mr-3 text-right">Email:</p>
                        <p class="col-6 p-0"><%= billingAddress.email %></p>
                    </div>
                </div>
            </div>
            <div class="address-info col-lg-6 col-md-12 p-0">
                <div class="d-flex address-header mb-3 pl-2 pt-2">
                    <p class="font-weight-bold">Shipping Address</p>
                </div>
                <div class="">
                    <div class="row mx-0">
                        <p class="col-2 p-0 mr-3 text-right">Name:</p>
                        <p class="col-6 p-0"><%= shippingAddress.firstName %> <%= shippingAddress.lastName %></p>
                    </div>
                    <div class="row mx-0">
                        <p class="col-2 p-0 mr-3 text-right">Address:</p>
                        <div class="col-6 p-0">
                            <p class="p-0 mb-0"><%= shippingAddress.address %></p>
                            <p class="p-0"><%= shippingAddress.city %> <%= shippingAddress.state %> <%= shippingAddress.zip %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table-design mb-4">
        <tr>
          <th>Shipping to You</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
        <% cartItems.forEach(cartItem => {%>
            <tr>
                <td><%= cartItem.name %></td>
                <td class="text-center">$<%= cartItem.price.toFixed(2) %></td>
                <td class="text-center"><%= cartItem.quantity %></td>
                <td class="text-center">$<%= cartItem.total.toFixed(2) %></td>
            </tr>
        <% }); %>
        <tr>
          <td colspan="4" class="text-right">
              <p>Subtotal: $<%= subTotal.toFixed(2) %></p>
              <div class="d-flex justify-content-end">
                  <div class="mr-3">
                      <form action="/cart/update-total/<%= currentPayment.id %>" method="POST">
                        <label for="shippingOptions">Shipping & Handling:</label>
                        <select name="shippingOptions" id="shippingOptions">
                            <option <%= currentPayment.shippingCost == 3.00 ? 'selected' : '' %>  value=3.00>U.S.P.S Parcel (3 - 8 days)</option>
                            <option <%= currentPayment.shippingCost == 5.20 ? 'selected' : '' %>  value=5.20>U.S.P.S Priority (2 - 4 days)</option>
                        </select>
                        <br>
                        <input type="hidden" name="subtotal" value="<%= currentPayment.subtotal %>">
                        <input type="hidden" name="_csrf" value="<%= token %>" />
                        <input type="submit" class="table-submit" value="Update Total">
                      </form>
                  </div>
                  <p>$<%= currentPayment.shippingCost.toFixed(2) %></p>
              </div>
              <p class="font-weight-bold mt-3">Total: $<%= currentPayment.total.toFixed(2) %></p>
            </td>
        </tr>
    </table>
    <table class="table-design mb-4">
        <form action="/cart/update-card/<%= currentPayment.id %> " method="POST">
            <tr>
                <th class="text-center">Payment Information</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="cardType">Card Type: </label>
                        <select name="cardType" id="cardType">
                            <option value="Visa">Visa</option>
                            <option value="MasterCard">MasterCard</option>
                            <option value="Discovery">Discovery</option>
                            <option value="American Express">American Express</option>
                        </select>
                    </div>
                    <div>
                        <label for="cardNumber">Card Number: </label>
                        <input type="text" id="cardNumber" name="cardNumber">
                        <label class="ml-2" for="cardMonth">Expiration: </label>
                        <select name="cardMonth" id="cardMonth">
                            <option value='1'>Janaury</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                        <select name="cardYear" id="cardYear">
                            <option value='2020'>2020</option>
                            <option value='2021'>2021</option>
                            <option value='2022'>2022</option>
                            <option value='2023'>2023</option>
                            <option value='2024'>2024</option>
                            <option value='2025'>2025</option>
                            <option value='2026'>2026</option>
                            <option value='2027'>2027</option>
                            <option value='2028'>2028</option>
                            <option value='2029'>2029</option>
                            <option value='2030'>2030</option>
                            <option value='2031'>2031</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <div>
                        <a class="table-submit p-1" href="cart/checkout">BACK</a>
                        <input type="hidden" name="_csrf" value="<%= token %>" />
                        <input type="submit" class="table-submit" value="CHECKOUT">
                    </div>
                </td>
            </tr>
        </form>
    </table>
</div>
<%- include("../shared/footer") %>